<div id="fragman" class="container">
    <h5>Popüler Filmlerin Fragmanları</h5>
    <hr>

    <div class="row mt-5">
        <div class="card col-md-6 p-0 m-3" style="width: 35rem;">
            <img src="deneme.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick</p>
            </div>
        </div>
        <div class="card col-md-6 p-0 m-3" style="width: 35rem;">
            <img src="deneme.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick</p>
            </div>
        </div>
        <div class="card col-md-6 p-0 m-3" style="width: 35rem;">
            <img src="deneme.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick</p>
            </div>
        </div>
    </div>
</div>
